<main
  class="row-span-4 bg-gradient-to-t from-secondary-100 to-secondary-200 min-h-screen flex flex-col"
>
  <div
    class="min-h-screen flex flex-col justify-self-center content-center justify-between pt-14"
  >
    <div
      class="z-10 flex justify-center self-center lg:flex-row sm:flex-col flex-col pt-24 -mb-24 w-full"
    >
      <div
        class="flex justify-center self-center flex-col font-medium bg-primary-100 py-3 w-2/3 lg:w-1/4 max-w-xl rounded-3xl border-b-4 border-primary-300 p-10"
      >
        <h1 class="font-bold text-2xl text-center">
          <i
            >¡Oh! ¿Está todo bien <% if(user.alias != undefined) {%>"<%=
            user.alias %>" <% } %>?</i
          >
        </h1>
        <span class="text-left w-full italic"
          >¿Estas seguro de que lo que quieres es dejar de formar parte de
          <b>Stremea.me</b>?</span
        >
        <hr class="w-48 h-0.5 mx-auto my-1 bg-gray-900 border-0 rounded mt-2" />
        <span class="text-left w-full italic"
          >Por favor escriba <b>su alias público actual</b> para proceder a la
          eliminación:</span
        >
        <form class="flex flex-col" id="formulario-delete" method="post">
          <div class="flex flex-col pb-2 mt-2">
            <input
              title="Lo tienes arriba entre comillas :)"
              class="border border-gray-200 rounded-lg pl-2 py-2 font-medium bg-white px-6 border-b-4 border-primary-300"
              type="text"
              placeholder="Introduce tu alias actual"
              name="alias"
              id="aliasDelete"
            />
          </div>
          <button
            class="text-lg text-black font-bold bg-white hover:bg-gray-200 active:border-none active:mt-1 py-2 rounded-lg transition duration-300 border-b-4 border-primary-300 self-center w-full mb-6"
            href=""
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
    <img src="/img/wave-gris.svg" alt="Ola gris" />
  </div>
</main>
<script src="/js/eliminarCuenta.js"> </script>

