<main class="row-span-4 bg-gradient-to-t from-white to-gray-300">
  <div
    class="-mt-3 bg-gradient-to-t from-secondary-200 to-secondary-100 shadow-sm bg-cover min-h-fit max-h-max"
  >
    <div
      class="relative z-10 h-fit w-full flex justify-center flex-col lg:flex-row lg:p-20 p-7"
    >
      <div
        class="w-full flex flex-col justify-center lg:max-w-xl sm:max-w-md self-center"
      >
        <h2 class="text-4xl font-bold mb-3">
          Lleva tus streamings privados a un nuevo nivel.
        </h2>
        <span class="text-xl"
          >Crea salas dinámicas a tu antojo y comparte experiencias únicas con
          tus amigos con tan sólo un link.</span
        >
        <a
          href="/create"
          class="hidden text-center text-2xl mt-4 text-white font-medium bg-primary-100 hover:bg-primary-200 active:border-none active:mt-5 py-2 w-96 rounded-3xl transition duration-300 border-b-4 border-primary-300 md:inline"
        >
          Generar sala
        </a>
      </div>
      <div class="max-w-2xl self-center">
        <img
          src="/img/ilustración.png"
          alt="Ilustración robot con ordenadores"
        />
        <form id="busqueda-landing" action="#" class="mb-2 bg-white rounded-lg">
          <div
            class="relative flex items-center overflow-hidden border border-gray-200 rounded-lg"
          >
            <input id="busqueda"
              class="w-full px-3 py-2 text-base leading-normal transition duration-150 ease-in-out bg-white appearance-none focus:outline-none"
              type="text"
              placeholder="0000-0000-0000-0000"
            />
            <button
              class="px-3 py-3 text-sm font-medium text-center text-white outline-slate-950 transition hover:bg-gray-950 bg-gray-900 border-2 border-gray-950 hover:border-gray-950"
              type="submit"
            >
              Entrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="flex flex-col content-center justify-evenly p-7 lg:p-24">
    <div
      class="flex justify-center self-center lg:flex-row sm:flex-col flex-col"
    >
      <img
        class="self-center sm:mb-9 h-auto max-w-sm"
        src="/img/teacher.svg"
        alt="Graficas de alta calidad y bitrate"
      />
      <div class="flex flex-col justify-center md:ml-24">
        <h3 class="text-4xl font-bold mb-3 text-right lg:max-w-xl sm:max-w-md">
          Streaming de alta calidad y bitrate
        </h3>
        <span class="text-xl text-right lg:max-w-xl sm:max-w-md"
          >Streaming P2P privado y sin intermediarios.</span
        >
      </div>
    </div>
    <div
      class="flex justify-center self-center lg:flex-row flex-col-reverse mt-14"
    >
      <div class="flex flex-col justify-center lg:mr-24">
        <h3 class="text-4xl font-bold mb-3 text-left lg:max-w-xl sm:max-w-md">
          <span class="font-normal">Stremea.me</span> te ofrece la oportunidad
          de crear tus propias salas de streaming privadas sin preocuparte de
          software de terceros.
        </h3>
        <span class="text-xl text-left lg:max-w-xl sm:max-w-md"
          >¡No hace falta nada más que tu navegador!</span
        >
      </div>
      <img
        class="self-center sm:mb-9 h-auto max-w-sm"
        src="/img/group.svg"
        alt="Graficas de alta calidad y bitrate"
      />
    </div>
    <div class="flex justify-center flex-col self-center lg:flex-row mt-28">
      <img
        class="self-center sm:mb-9 h-auto max-w-sm"
        src="/img/virtualmeeting.svg"
        alt="Graficas de alta calidad y bitrate"
      />
      <div class="flex flex-col justify-center md:ml-24">
        <h3 class="text-4xl font-bold mb-3 text-right lg:max-w-xl sm:max-w-md">
          Con <span class="font-normal">Stremea.me</span>, puedes compartir
          cualquier contenido a tus amigos de manera fácil y segura. Esto os
          permitirá disfrutar de experiencias únicas juntos.
        </h3>
        <span class="text-xl text-right lg:max-w-xl sm:max-w-md mb-14"
          >¡Sigamos el capitulo desde donde lo dejamos!</span
        >
      </div>
    </div>
  </div>
  <img class="sm:-mt-36" src="/img/wave-gris.svg" alt="Ola gris" />
</main>
<script>
  const busqueda_landing = document.getElementById('busqueda-landing');
  const input = busqueda_landing.querySelector('input');
  const value = input.value;

  // Por cada letra que se envie se comprueba si existe en la bbdd y si es así se redirige a la sala
  busqueda_landing.addEventListener('submit', (e) => {
    e.preventDefault();
    if (value.length > 5) {
      window.location.href = `/room/${value}`;
    } else {
      Swal.fire({
        title: '¡Error!',
        text: 'El código introducido no es válido.',
        icon: 'error',
        timer: 8000,
        showConfirmButton: false,
      });
    }
  });

  <% try { %>
    <% if (typeof updated !== 'undefined' && updated) { %>
        Swal.fire({
            title: '¡Desuscrito!',
            text: 'Gracias por aguantarnos tanto tiempo 😊.',
            icon: 'success',
            confirmButtonText: 'Aceptar'
        })
    <% }  else if (typeof updated !== 'undefined' && updated == false) {%>
        Swal.fire({
            title: '¡Error!',
            text: 'Ha ocurrido un error al desuscribirte.',
            icon: 'error',
            timer: 8000,
            showConfirmButton: false
        })
    <% } else if (typeof error !== 'undefined' && error == true) {%>
        Swal.fire({
            title: '¡Vaya!',
            text: '<%- message %>',
            icon: 'error',
            timer: 8000,
            showConfirmButton: false
        })
        <% } %>
        <% if (typeof error !== 'undefined' && error) { %>
        Swal.fire({
            title: '¡Vaya!',
            text: '<%- message %>',
            icon: 'error',
            timer: 8000,
            showConfirmButton: false
        })   
        <% } %>
    <% } catch (error) { %>
        
    <% } %>

</script>
