<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StremeaMe <%- title %></title>
    <link rel="icon" href="/img/ico.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bulma/bulma.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script>
      // si no existe una entrada en sesion storage que almacene el id de la imagen de perfil
      if (!localStorage.getItem("idImagenPerfil")) {
        // se crea una entrada en sesion storage que almacene el id de la imagen de perfil con la cantidad de imagenes que hay en la carpeta imt/avatars/
        localStorage.setItem(
          "idImagenPerfil",
          Math.floor(Math.random() * 10) + 1
        );
      }


    </script>
  </head>

  <body class="flex flex-col">
    <%- include('partials/nav') %> <%- body %> <%- include('partials/footer') %>
  </body>

  <script>
    // se obtienen todas las imagenes con la clase imagenPerfil
    let imagenesPerfil = document.querySelectorAll(".imagenPerfil");
    console.log(imagenesPerfil);
    // se recorren todas las imagenes con la clase imagenPerfil y se les asigna el id de la imagen de perfil
    imagenesPerfil.forEach((imagen) => {
      imagen.src = `/img/avatars/${localStorage.getItem(
        "idImagenPerfil"
      )}.jpg`;
    });

  </script>
</html>
