<% var errors = Array.isArray(locals.errors) ? locals.errors : [{message:''}] %>
<main
  class="row-span-4 bg-gradient-to-t from-secondary-100 to-secondary-200 min-h-screen flex flex-col"
>
  <div
    class="min-h-screen flex flex-col justify-self-center content-center justify-between pt-14"
  >
    <div
      class="flex justify-center self-center lg:flex-row sm:flex-col flex-col lg:pt-44"
    >
      <div class="flex flex-col justify-center mb-10 mr-5">
        <!-- <h3 class="text-6xl font-bold text-white mb-3 text-right lg:max-w-xl sm:max-w-md">Stremea.me</h3> -->
        <img
          class="w-32 h-auto self-end"
          src="/img/mascota.png"
          alt="Mascota de stremea.me"
        />
        <h3 class="text-6xl font-bold mb-3 text-right lg:max-w-xl sm:max-w-md">
          ¡Prepárate, que empezamos!
        </h3>
        <span class="text-xl text-right lg:max-w-xl sm:max-w-md"
          >Streaming P2P privado y sin intermediarios.</span
        >
      </div>
      <div
        class="flex justify-center self-center flex-col lg:w-1/2 font-medium bg-primary-100 py-3 px-6 rounded-3xl border-b-4 border-primary-300"
      >
        <span
          class="text-4xl font-black leading-none text-black select-none logo self-center"
          >Stremea.me</span
        >
        <form class="p-5" action="/login" method="post" id="formulario-login">
          <div class="flex flex-col pb-2">
            <label class="rounded-md text-base font-bold text-black" for="email"
              >Correo</label
            >
            <input
              class="border border-gray-200 rounded-lg pl-2 py-2 font-medium bg-white px-6 border-b-4 border-primary-300"
              type="email"
              placeholder="Introduce tu correo"
              name="email"
              id="email"
            />
            <% if(errors.path && errors[0].path == 'email') { %>
            <p class="text-red-500"><%= errors[0].message %></p>
            <% } %>
          </div>
          <div class="flex flex-col">
            <label
              class="rounded-md text-base font-bold text-black"
              for="password"
              >Contraseña</label
            >
            <input
              class="border border-gray-200 rounded-lg pl-2 py-2 font-medium bg-white px-6 border-b-4 border-primary-300"
              type="password"
              placeholder="Introduce tu contraseña"
              name="password"
              id="password"
            />
            <% if(errors.path && errors[0].path == 'password') { %>
            <p class="text-red-500"><%= errors[0].message %></p>
            <% } %>
          </div>
          <button
            class="mt-2 w-full text-lg text-black font-bold bg-white hover:bg-gray-200 active:border-none active:mt-3 py-2 rounded-lg transition duration-300 border-b-4 border-primary-300"
            href=""
          >
            Iniciar sesión
          </button>
        </form>
        <a class="inline self-center pb-5" href="/recovery"
          >¿No puedes iniciar sesión?</a
        >
        <hr class="w-48 h-0.5 mx-auto my-1 bg-gray-900 border-0 rounded" />
        <span class="self-center font-normal text-gray-800"
          ><i>O continúa con:</i></span
        >
        <button
          class="self-center my-2 text-lg text-black font-bold bg-white hover:bg-gray-200 active:border-none active:mt-3 py-2 w-5/6 rounded-lg transition duration-300 border-b-4 border-primary-300"
          href=""
        >
          <img
            class="w-5 h-5 inline mb-1 mr-2"
            src="/img/google-logo.svg"
            alt="Logo de google"
          />Google
        </button>
      </div>
    </div>
    <img src="/img/wave-gris.svg" alt="Ola gris" />
  </div>
</main>

<script>
  const email = document.getElementById("email");
  const password = document.getElementById("password");
  const form = document.getElementById("formulario-login");

  form.addEventListener("submit", (e) => {
    e.preventDefault();

    // Validación de campos vacíos
    if (email.value == "" || password.value == "") {
      Swal.fire({
        icon: "warning",
        title: "Atención",
        text: "Todos los campos son obligatorios.",
        confirmButtonText: "Aceptar",
      });
      // Validación de formato del password
    } else if (password.value.length < 8) {
      Swal.fire({
        icon: "warning",
        title: "Atención",
        text: "La contraseña debe tener al menos 8 caracteres.",
        confirmButtonText: "Aceptar",
      });
    } else {
        // Envío del formulario
        axios.post('/login', {
            email: email.value,
            password: password.value
        }).then((response) => {
            if(response.status == 200) {
                window.location.href = '/';
            } else {
                Swal.fire({
                    icon: 'error',
                    title: "Atención",
                    text: 'Correo o contraseña incorrecta',
                    confirmButtonText: 'Aceptar'
                });
            }
        }).catch((error) => {
            Swal.fire({
                icon: 'warning',
                title: "Atención",
                text: 'Correo o contraseña incorrecta',
                confirmButtonText: 'Aceptar'
            });
        });
    }


  });
</script>
