<main class="row-span-4 bg-gradient-to-t from-secondary-100 to-secondary-200 min-h-screen flex flex-col">
    <div class="min-h-screen flex flex-col justify-self-center content-center justify-between pt-14 ">
        <div class="flex justify-center self-center lg:flex-row sm:flex-col flex-col pt-28 md:pt-36 lg:pt-44 w-full">
            <div class="border-gray-950 border-2 flex justify-center self-center flex-col 
            font-medium bg-primary-100 py-3 w-2/3 lg:w-2/3 max-w-5xl rounded-3xl border-b-4 border-primary-300 p-4 sm:p-10">
                <form class="flex flex-col " action="post">
                    
                    <div class="border-gray-950 flex justify-center self-center flex-col 
                    font-medium bg-primary-100 py-3 w-full rounded-3xl border-2 border-b-4 border-primary-300 p-2 sm:p-5 mb-5">
                            <div class="flex flex-col sm:flex-row w-full">
                                <div class="flex flex-col w-full sm:w-1/2 sm:pr-2">
                                    <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="alias">Alias público</label>
                                    <input class="border border-gray-200 rounded-lg pl-2 py-2
                                    font-medium bg-white px-6 border-b-4 border-primary-300" type="text" placeholder="Introduce tu correo" name="alias" id="alias">
                                </div>
                                <div class="flex flex-col sm:flex-row w-fit">
                                    <div class="flex flex-col w-80 pr-5 sm:pl-2">
                                        <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="image">Imagen</label>
                                        <input class="border border-gray-200 rounded-lg pl-2 py-2
                                        font-medium bg-white px-6 border-b-4 border-primary-300" type="text" placeholder="Introduce tu correo" name="image" id="image">
                                    </div>
                                    <img class="h-20 w-20 rounded-full bg-primary-100 self-center shadow-md"
                                    src="https://i.kym-cdn.com/photos/images/facebook/001/431/201/40f.png" alt="">
                                </div>
                            </div>
                            <span class="text-center w-full pt-4">No sabíamos cómo <b>llamar tu atención</b> para que nos apoyases en patreon <br>así que <b>te hemos dedicado un alias en Japonés</b> y un avatar <i>un poco troll</i>..</span>
                    </div>
                    <div class="flex flex-col sm:flex-row w-full">
                        <div class="flex flex-col w-full sm:w-1/2 sm:pr-2">
                            <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="twitter">Twitter</label>
                            <input class="border border-gray-200 rounded-lg pl-2 py-2
                            font-medium bg-white px-6 border-b-4 border-primary-300" type="text" placeholder="Introduce tu correo" name="twitter" id="twitter">
                        </div>
                        <div class="flex flex-col w-full sm:w-1/2 sm:pl-2">
                            <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="twitch">Twitch</label>
                            <input class="border border-gray-200 rounded-lg pl-2 py-2
                            font-medium bg-white px-6 border-b-4 border-primary-300" type="text" placeholder="Introduce tu correo" name="twitch" id="twitch">
                        </div>
                    </div>
                    <div class="flex flex-col pb-2">
                        <label class="text-2xl rounded-md my-1.5 font-bold text-black w-2/3" for="url">Url</label>
                        <input class="border border-gray-200 rounded-lg pl-2 py-2
                        font-medium bg-white px-6 border-b-4 border-primary-300" type="url" placeholder="Introduce tu correo" name="url" id="url">
                    </div>
                    <div class="flex flex-col sm:flex-row w-full">
                        <div class="flex flex-col w-full sm:w-1/2 sm:pr-2">
                            <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="instagram">Instagram</label>
                            <input class="border border-gray-200 rounded-lg pl-2 py-2
                            font-medium bg-white px-6 border-b-4 border-primary-300" type="text" placeholder="Introduce tu correo" name="instagram" id="instagram">
                        </div>
                        <div class="flex flex-col w-full sm:w-1/2 sm:pl-2">
                            <label class="text-2xl rounded-md my-1.5 font-bold text-black" for="email">Correo</label>
                            <input class="border border-gray-200 rounded-lg pl-2 py-2
                            font-medium bg-white px-6 border-b-4 border-primary-300" type="email" placeholder="Introduce tu correo" name="email" id="email">
                        </div>
                    </div>
                    <button class="my-5 text-lg text-black font-bold bg-white hover:bg-gray-200 active:border-none active:mt-6
                    py-2 rounded-lg transition duration-300  
                    border-b-4 border-primary-300 self-center w-full sm:w-1/2" href="">Guardar</button>
                </form>
                <hr class="w-48 h-0.5 mx-auto my-1 bg-gray-900 border-0 rounded">
                <a class="inline self-center mt-5 pb-5 italic font-bold" href="/reset-password">¿Necesitas cambiar tu contraseña?</a>    
                <a class="inline self-center font-normal italic text-red-600" href="/sayonara">Eliminar cuenta</a>    
            </div>
        </div>
        <img src="img/wave-gris.svg" alt="Ola gris">
    </div>
   
</main>